{"nbformat":4,"nbformat_minor":0,"metadata":{"colab":{"provenance":[],"authorship_tag":"ABX9TyMmY1Lf7OT59f/KvTz6ADgo"},"kernelspec":{"name":"python3","display_name":"Python 3"},"language_info":{"name":"python"}},"cells":[{"cell_type":"code","execution_count":null,"metadata":{"id":"Ha7Lnx_Hn6v8"},"outputs":[],"source":["streamlit\n","pandas\n","numpy\n","scikit-learn\n","joblib\n"]}]}